@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "josefin sans",sans-serif ;
}

header{
    background-image: url(assets/bcg\ web.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    margin-top: auto;
    margin: 30px;
    margin-right: auto;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: red;
    border-radius: 20px;
    transition: 0.6s;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}

ul li a:hover{
    background-color: black;
    color: red;
}

.logo img{
    float: left;
    width: 300px;
    height: auto;
    margin-top: 20px;
    cursor: pointer;
}

.navbar{
    max-width: 1200px;
    margin: auto;
} 

.contents{
    position: absolute;
    top: 35%;
    left: 30%;
}

.contents h1{
    color: red;
    font-size: 70px;
    text-shadow: -4px 4px 4px #000
}

.button {
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.btn{
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 20px;
    margin: 10px;
    background-color: red;
}

.btn:hover{
    background-color: black;
    color: red;
}